* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

nav a{
  color: white;
}

.nav-link  {
  color: white;
}

.bg-dark-blue {
  background:#2f6890;
  color: white;
}

.dropdown.dropdown-menu li a{
  color: #41d0d9;
}

nav i{
  margin-top: 10px;
  margin-left: 5px;
  font-size: 1.5rem;
}

nav i:hover{
  transition: 0.3s;
  color: #41d0d9;
}

nav .fa-anchor{
  margin: 10px;
}

.boxxx{
position: absolute;
text-align: center;
top: 50%;
left: 50%;
color: white;
transform: translate(-50%,-50%);
z-index: 5000;
}
.btn-coldx{
margin-top: 5%;
color:white;
background-color:#41d0d9;
border-radius: 1rem;
}
.btn-bluex{
margin-top: 5%;
margin-left:2%;
color:#41d0d9;
background-color:white;
border-radius: 1rem;
}
#section02 .container{
text-align: center;
}

#section02 .container h1{
font-weight: bolder ;
font-size: 3rem;
display: block;
margin-top: 100px;
}

#section02 .container h5{
font-weight: 300 ;
font-size: 1.5rem;
display: block;
margin-bottom: 100px;
}

#section02 .col-lg-6 p{
text-align: left;
color: silver;
}

.YACHTS-FOR-SALE{
display: block;
font-weight: 500;
margin-top: 100px;
}

.boxxx3{
position: relative;
width: 100%;
height:100%;

}

.boxxx3::before{
content:'';
position: absolute;
width: 103.5%;
height: 100%;
background:rgba(47, 104, 144, 0.7);
transform: scale(0);
transition: 0.3s;
}

.boxxx3:hover::before{
transform: scale(1);
}

.boxxx2{
color: white;
position: absolute;
left:0;
top:0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
transition: 0.3s;
opacity: 0;
}

.boxxx3:hover .boxxx2{
opacity: 1;
}

#section04 {
margin-top: 100px;
text-align: center;
margin-bottom: 100px;
}

#section04 h1 {
font-size: 4rem;
}

#section04 p {
color: silver;
font-size: 1rem;
}

#section05 {
text-align: center;
}

#section05 .col-lg-4 i{
color: white;
text-shadow: 2px 3px 3px  #41d0d9;
font-size: 2.5rem;
}


#section05 h5{
margin-top: 20px;
margin-bottom: 20px;
color: #41d0d9;
}

.btn-darkx{
background:#2f6890;
border-radius: 1rem;
color: white;
width: 20%;
height: 30%;
}

#section05 .btn-darkx{
margin-top: 100px;
margin-bottom: 100px;
width: 280px;
height: 35px;
}

#section05 .col-lg-4{
padding: 50px;
height: 120%;
}

#section05 .col-lg-4:hover{
background-color: #41d0d9;
color: white;
cursor: pointer;
border-radius: 1rem;
transition: 0.3s;
}

#section05 .col-lg-4:hover h5{
color: white;
}
#section05 .col-lg-4:hover i{
color:#22a3ab;
text-shadow: 1px 1px 1px white;
}

.btn-darkx:hover{
transition: 0.3s;
background:#254a65;
}

#section06 .container-fluid {
position: relative;
}
#section06 img {
display: block;
z-index: -5;
}
#section06 .boxxx4{
text-align: center;
position: absolute;
color: white;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 1.2rem;
}
#section06 .boxxx4 h1{
margin-bottom: 50px;
font-size: 3rem;
}
#section06 .boxxx4 a {
color: white;
text-decoration: none;
}
#section06 .boxxx4 a:hover{
text-decoration:underline;
}
#section06 .btn-darkx{
margin-top: 200px;
width: 40%;
}

#section07 {
margin-top: 200px;
text-align: center;
}

#section07 p{
color: silver;
margin-top: 40px;
margin-bottom: 40px;
}

#carouselcircle img {
border-radius: 50%;
}
#carouselcircle img+img{
margin-left: 50px;
}

#carouselcircle .carousel-control-prev-icon,
#carouselcircle .carousel-control-next-icon {
height: 100px;
width: 100px;
background-image: none;
}

#carouselcircle .carousel-control-next-icon:after
{
content: '>';
font-size: 60px;
color: silver;
}

#carouselcircle .carousel-control-prev-icon:after {
content: '<';
font-size: 60px;
color: silver;
}


#section08 .container-fluid {
position: relative;
}

#section08 i {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

#section08 img {
  height:80%;
z-index: -5;
}

#section08 .boxxx5{
text-align: center;
position: absolute;
color: white;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-weight: bolder;
font-size: 1.2rem;
}
#section08 .boxxx5 h1{
margin-bottom: 50px;
font-size: 3rem;
}

#section08 .boxxx5 .btn-darkx {
margin-top: 100px;
width: 45%;
}

.footer
{
background-color:white;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#22a3ab;
}
.footer hr
{
border-top-color: #22a3ab;
opacity:0.5
}
.footer a
{
color:#22a3ab;
}

.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#22a3ab
}

.footer p{
  margin-left: 300px;
}
